$mainColor: #9f5404;


.hd {
    height: 80px;
    padding: 0 70px;
    .title {
        padding: 10px 0;
        font-weight:1000;
        border-bottom: 1.5px solid $mainColor;
    }

    a {
        text-decoration: none;
        color: gray;
        transition: 0.3s;
        &:hover {
            color: $mainColor;
        }
    }
}
footer {
    height: fit-content;
    background-color: #f4f0ec;
    span {
        color: $mainColor;
    }
    p {
        cursor: pointer;
        font-weight:500;
    }
    p:hover {
        color: $mainColor;
    }
    .ft-icn {
        background-color: rgb(205, 162, 116);
        border-radius:50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        margin: 2px;
        padding: 10px;
    }
    
}