$mainColor: #9f5404;


.hd {
    height: 80px;
    padding: 0 70px;
    .title {
        padding: 10px 0;
        font-weight:1000;
        border-bottom: 1.5px solid $mainColor;
    }

    a {
        text-decoration: none;
        color: gray;
        transition: 0.3s;
        &:hover {
            color: $mainColor;
        }
    }
}
footer {
    height: fit-content;
    background-color: #f4f0ec;
    span {
        color: $mainColor;
    }
    li {

        font-weight: bold;
    }
    a {
        cursor: pointer;
        font-weight: bold;
    }
    li a:hover {
        color: $mainColor !important;
    }
    .ft-icn {
        background-color: rgb(205, 162, 116);
        border-radius:50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        margin: 2px;
        padding: 10px;
    }
    
}

.overview {
    h1 {
        font-size: 3rem;
        font-weight: bold;
        position: relative;
        padding-bottom: 20px;
        &::after {
            content: "";
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $mainColor;
            position: absolute;
        }
    }
    p {
        padding-top: 20px;
    }
}